/* additional snippets for discord ui tweaks. */
/* readd timestamp tooltips. */
time[datetime]:hover::after {
	content: "(" attr(datetime) ")";
	width: max-content;
	position: absolute;
	z-index: 9999;
	backdrop-filter: blur(4px);
	padding: 0 4px;
	border-radius: 6px;
}

/* swap clan tag and role icons. */
[class^="headerText"] {
	display: inline-flex;
	& > span:has([class^="roleicon"]) {
		order: 2;
	}
	& > span:has([class^="chipletContainerInner"]) {
		order: 3;
	}
	& > span[style="display: none;"] {
		order: 4;
	}
	& > .vc-message-decorations-wrapper {
		order: 5;
	}
	& > span:has(> [class^="newMemberBadge"]) {
		order: 6;
	}
	& > span:is([class^="botTag"]) {
		order: 7;
	}
}

/* replace all display name fonts with a single one. */
[class*="zillaSlab"] /* Tempo */,
[class*="cherryBomb"] /* Sakura */,
[class*="chicle"] /* Jellybean */,
[class*="museoModerno"] /* Modern */,
[class*="neoCastel"] /* Medieval */,
[class*="pixelify"] /* 8Bit */,
[class*="sinistre"] {
	/* Vampyre */
	font-family: var(--font-primary) !important;
}

/* read all notifications button version. */
.vc-ranb-button {
	margin: 0 var(--space-md);
	display: flex;
	position: relative;
	width: var(--guildbar-avatar-size);
	height: var(--guildbar-avatar-size);
	min-height: 40px;
	max-height: 40px !important;
	max-width: 40px !important;
	padding: 2px;
	background-color: var(--background-mod-subtle);
	border: none;
	border-radius: 12px;
	text-decoration: none !important;
	font-size: 0px;
	left: -5px;
	transition:
		scale 0.15s ease-out,
		background-color 0.15s ease-out,
		color 0.15s ease-out;

	&:hover {
		background: var(--brand-500);

		&::after {
			background-image: url("data:image/svg+xml,%3Csvg%20x%3D%220%22%20y%3D%220%22%20class%3D%22icon__9293f%22%20aria-hidden%3D%22true%22%20role%3D%22img%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M9.7%202.89c.18-.07.32-.24.37-.43a2%202%200%200%201%203.86%200c.05.2.19.36.38.43A7%207%200%200%201%2019%209.5v2.09c0%20.12.05.24.13.33l1.1%201.22a3%203%200%200%201%20.77%202.01v.28c0%20.67-.34%201.29-.95%201.56-1.31.6-4%201.51-8.05%201.51-4.05%200-6.74-.91-8.05-1.5-.61-.28-.95-.9-.95-1.57v-.28a3%203%200%200%201%20.77-2l1.1-1.23a.5.5%200%200%200%20.13-.33V9.5a7%207%200%200%201%204.7-6.61ZM9.18%2019.84A.16.16%200%200%200%209%2020a3%203%200%201%200%206%200c0-.1-.09-.17-.18-.16a24.86%2024.86%200%200%201-5.64%200Z%22%20class%3D%22%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
		}
	}

	&::after {
		content: "asdfg";
		font-size: 18px;
		position: relative;
		color: transparent;
		left: 12px;
		background-image: url("data:image/svg+xml,%3Csvg%20x%3D%220%22%20y%3D%220%22%20class%3D%22icon__9293f%22%20aria-hidden%3D%22true%22%20role%3D%22img%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23D8D8DB%22%20d%3D%22M9.7%202.89c.18-.07.32-.24.37-.43a2%202%200%200%201%203.86%200c.05.2.19.36.38.43A7%207%200%200%201%2019%209.5v2.09c0%20.12.05.24.13.33l1.1%201.22a3%203%200%200%201%20.77%202.01v.28c0%20.67-.34%201.29-.95%201.56-1.31.6-4%201.51-8.05%201.51-4.05%200-6.74-.91-8.05-1.5-.61-.28-.95-.9-.95-1.57v-.28a3%203%200%200%201%20.77-2l1.1-1.23a.5.5%200%200%200%20.13-.33V9.5a7%207%200%200%201%204.7-6.61ZM9.18%2019.84A.16.16%200%200%200%209%2020a3%203%200%201%200%206%200c0-.1-.09-.17-.18-.16a24.86%2024.86%200%200%201-5.64%200Z%22%20class%3D%22%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
		background-repeat: no-repeat;
	}
}

/* remove discords checkpoint. */
.button__85643:nth-of-type(1) {
	display: none;
}
